@font-face {
    font-family: chopin;
    src: url('images/ChopinScript.ttf');
}

:root {
    /* main canvas */
    --canvas-scale: 15;
    --sprite-width: 16px;
    --sprite-height: 16px;
    --canvas-filter:none;
    --canvas-border-left:3px dashed transparent;
    --canvas-border-right:3px dashed transparent;
    --canvas-border-top:3px dashed transparent;
    --canvas-border-bottom:3px dashed transparent;


    /* settings */
    --grid-visibility:visible;
    --background-width:6.25%;
    --background-height:6.25%;

    /* selection box */
    --selection-box-visibility: hidden;
    --selection-box-width: 0px;
    --selection-box-height: 0px;
    --selection-box-start-x: 0px;
    --selection-box-start-y: 0px;

    /* resize box */
    --resize-box-visibility: hidden;
    --resize-box-width: 0px;
    --resize-box-height: 0px;
    --resize-box-start-x: 0px;
    --resize-box-start-y: 0px;

    /* image fit preview */
    --fit-preview-top: 0;
    --fit-preview-left: 0;
    --fit-preview-scale: 1;

    /* mouse cursor */
    --cursor-x:2px;
    --cursor-y:8px;
    --cursor-visibility:hidden;

    /* extra settings */
    --extra-settings-display:none;

    /* ui */
    --drop-shadow-color: #46788b;
    --button-highlight-color: blue;
    --button-highlight-text-color:yellow;
    --button-background-color: white;
    --button-border:1px solid rgb(0, 0, 0);
    --background-color:white;
    --text-color:black;

    /* upload progress bar */
    --upload-progress:0%;
    --progress-bar-color:var(--button-highlight-color);
    --progress-bar-display:none;
}

@media (prefers-color-scheme: dark) {
    :root{
        --drop-shadow-color: transparent;
        --button-highlight-color: rgb(20, 0, 155);
        /* --button-highlight-text-color:yellow; */
        --button-highlight-text-color:#110245;
        --button-background-color: #2a0062;
        --button-highlight-color:rgb(235, 255, 179);
        /* --button-border:1px solid rgb(255, 255, 255); */
        --button-border:1px solid rgb(235, 255, 179);
        --background-color: #110245;
        --text-color:rgb(235, 255, 179);
    }
    
}

html{
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size:12px;
    background-color: var(--background-color);
    color:var(--text-color);
    user-select: none;
}

select{
    background-color: var(--button-background-color);
    color:var(--text-color);
}

.scene{
    perspective:10000px;
    position:relative;
    transform-style:preserve-3d;
}

#cylinder_container{
    grid-area:gif;
    margin:auto;

}

.cylinder{
  position:absolute;
  width:400px;
  height:0px;

  transform-style:preserve-3d;

  animation:spin 20s linear infinite;
  /* left:-150px; */
  top:90px;
}

.slice{
    position:absolute;
    background-color: var(--text-color);
    image-rendering: pixelated;

    mask-image:url("images/animated_spritesheet.gif");
    -webkit-mask-image:url("images/animated_spritesheet.gif");

    -webkit-mask-size:cover;
    mask-size: cover;
    /* mask-size:contain; */
    /* mask-size:auto; */

    /* -webkit-mask-repeat:no-repeat; */
    /* mask-repeat:no-repeat; */
    /* mask-repeat: repeat; */
    transition:0.2s;
}

#main_menu_hardware_gif{
    z-index:10;
    width:200px;
    /* left:-100px; */
}

@keyframes tilt_image{
    0%{
        transform: rotateZ(2deg);
    }
    50%{
        transform: rotateZ(2deg);
    }
    51%{
        transform: rotateZ(-2deg);
    }
    100%{
        transform: rotateZ(-2deg);
    }
}

@keyframes spin{
  from{
    transform: rotateZ(20deg) rotateX(20deg) rotateY(0deg);
  }
  to{
    transform: rotateZ(20deg) rotateX(20deg) rotateY(360deg);
  }
}
#bottom_image{
    grid-area:bottom_image;
    width:200px;
    margin:auto;
    animation:tilt_image 2.5s infinite;
}
#about_container{
    grid-area:about;
    width:300px;
    position:relative;
    color:var(--button-highlight-color);
    /* filter:url(#goo); */
}
#about_container .sprite_gif_bg{
    padding:20px;
    position:relative;
    margin:auto;
    width:fit-content;
    pointer-events: none;
}
#about_container .sprite_gif_bg:hover{
}
#purchase_links_container{
    /* width:fit-content; */
    grid-area:purchase;
    /* margin:auto; */
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px;
    /* filter:url(#goo); */
}

#purchase_links_container .sprite_gif_bg{
    /* padding:1px; */
}

#main_menu{
    display:grid;
    gap:10px;
    padding-bottom:100px;
    width:fit-content;
    margin:auto;
    transition:0.2s;
    transition-timing-function: ease;
    grid-template-columns: min-content min-content;
    grid-template-rows:min-content 100px min-content 20px min-content;
    grid-template-areas:
    "gif gif"
    "purchase purchase"
    "identity blank_1"
    "blank_2 blank_1"
    "blank_2 mode"
    "blank_2 blank_3"
    "designer designer"
    "about about"
    "bottom_image bottom_image";

}
.main_menu_button{
    cursor:pointer;
    /* background-color: var(--button-highlight-color); */
    background-color: white;
    text-decoration: underline;
    font-weight:bold;
    transition: 0.2s;
    border-radius: 30px;
    padding:15px;
    width:fit-content;
    height:fit-content;
    color:var(--button-highlight-color);

}
.main_menu_button:hover{
    color:var(--button-highlight-text-color);
    background-color:var(--button-highlight-color);
}



#manual_button{
    grid-area:manual;
}

#set_identity_controls{
    grid-area: identity;
    position:relative;
}
#identity_goo_container{
    filter:url(#goo);
}

@keyframes open{
    from{
        transform:translate(0,0);
        opacity: 0%;
        pointer-events:none;
    }
    to{
        transform:translate(var(--x),var(--y));
        opacity: 100%;
        pointer-events:all;
    }
}

@keyframes close{
    from{
        transform:translate(var(--x),var(--y));
        opacity: 100%;
        pointer-events:all;
    }
    to{
        transform:translate(0,0);
        opacity: 0%;
        pointer-events:none;
    }
}

#mode_text_label_container{
    /* pointer-events: none; */
    /* z-index:-10; */
}
.mode_gif_holder{
    position:absolute;
    top:-60px;
}
.identity_sprite_gif_holder{
    position:absolute;
    left:-10px;
    top:-10px;
}

.sprite_gif{
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity: 0%;
    z-index:1;
}

.menu_button_label{
    position:absolute;
    font-size: 12px;
    font-weight:bold;
    opacity: 0%;
    pointer-events: none;
    z-index:-1;
}
.menu_button_label_text{
    color:white;
    background:var(--button-highlight-color);
}

.sprite_gif_bg{
    position:absolute;
    padding:40px;
    border-radius: 40px;
    background:var(--button-highlight-color);
    transition:0.2s;
}

.sprite_gif_bg:hover{
    cursor:pointer;
    background:red;
    filter:blur(20px);
}

.sprite_gif img{
    image-rendering: pixelated;
    width:40px;
    z-index:1;
    mix-blend-mode: difference;
    pointer-events: none;
}


#set_mode_controls{
    grid-area:mode;
    position:relative;
}
#mode_goo_container{
    filter:url(#goo);
}
#designer_controls{
    width:fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
    grid-area:designer;
}
#designer_controls a{
    color:var(--text-color);
    background:var(--button-highlight-color);
    font-weight:bold;
}
#designer_controls a:hover{
    transition:0.2s;
    background-color: red;
}
#xray_image{
    width:150px;
}

#center_align_container{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    display: flex;
}

.money_gif{
    width:60px;
    z-index:-2;
}

#app_container{
    overflow-y: scroll;
    width:fit-content;
    margin:auto;
    height:fit-content;
    position:relative;
    display:grid;
    gap:10px;
    /* grid-template-rows: min-content 210px 50px 10px min-content; */
    grid-template-areas:"title title title"
                        "spritesheet canvas_and_tools hardware_gif"
                        "template canvas_and_tools hardware_gif"
                        "template canvas_and_tools image_preview"
                        "export_controls canvas_and_tools image_preview"
                        "import_controls canvas_and_tools image_preview"
                        "settings settings keyboard_shortcuts";
}
.big_undo_button{
    display:none;
    width:50px;
    /* height:50px; */
    padding:4px;
    transition:0.2s;
    cursor:pointer;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    border:var(--button-border);
    border-radius:20px;
}
#keyboard_shortcut_info_container{
    /* display:flex; */
    display:none;
    flex-direction:column;
    grid-area:keyboard_shortcuts;
    padding:4px;
    width:fit-content;
}
.cmd_symbol{
    font-size:22px;
    position:relative;
    top:0.22em;
}
.keyboard_shortcut{
    color:var(--button-highlight-color);
    font-size:12px;
    width:fit-content;
}
.keyboard_shortcut_section_header{
    color:var(--button-background-color);
    background:var(--button-highlight-color);
    /* text-decoration: underline; */
    width:fit-content;
}

#canvas_and_tools{
    grid-area:canvas_and_tools;
    display:grid;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas:
                        "sprite_name sprite_name"
                        "pixel_tools pixel_tools"
                        "frame_tools canvas"
                        "frame_tools frames";
}
.slider_label{
    margin:0px auto;
    padding-top:6px;
    justify-self: left;
}
.slider_value_label{
    padding-left:10px;
}
#slideshow_parameter_controls{
    display:none;
    grid-area:spritesheet template;
    width:fit-content;
    max-width: 100px;
}

#preset_sprite_templates{
    display:none;
    width:fit-content;
    height:fit-content;
    grid-area:template;
}
#sprite_preset_previews{
    padding:10px;
    border-radius:20px;
    border:var(--button-border);
    display:flex;
    flex-direction: row;
    justify-items: center;
    /* background-color: var(--button-background-color); */
    gap:4px;
    flex-wrap:wrap;


}

.sprite_preset_preview{
    display:block;
    padding:2px;
    border:var(--button-border);
    width:20px;
    border-radius:10px;
    image-rendering: pixelated;
    background:black;
    transition:0.2s;
    cursor:pointer;
}
.sprite_preset_preview:hover{
    background:var(--button-highlight-color);
    /* mix-blend-mode: difference; */
}

#frame_controls{
    grid-area:frames;
    width:200px;
    margin:auto;
    height:fit-content;
    flex-direction: column;
}

#preview_gallery_holder{
    display:flex;
    align-items:center;
    width:calc(100% - 8px);
    flex-wrap:wrap;
    height:fit-content;
    overflow-y:scroll;
    padding:4px;
    gap:2px;
    border-radius:10px;
    border:var(--button-border);
    border-style: dashed;
}
#extra_settings_button{
    margin:0px;
}
#extra_settings_container{
    grid-area:settings;
    margin:0;
}
#uploaded_image_settings{
    gap:10px;
    max-width:100px;
    width:fit-content;
    align-items: center;
    justify-items: center;
    background-color: var(--background-color);
    border-radius: 20px;
    border:var(--button-border);
    padding:10px;
    cursor:auto;
    grid-area:image_preview;
    flex-direction: column;
}
#canvas_fit_preview{
    display:block;
    position:absolute;
    width:calc(var(--fit-preview-scale) * var(--sprite-width));
    height:calc(var(--fit-preview-scale) * var(--sprite-height));
    top:calc(var(--fit-preview-scale) * var(--fit-preview-top) - 1px);
    left:calc(var(--fit-preview-scale) * var(--fit-preview-left) - 1px);
    border:dashed 2px var(--button-highlight-color);
}
#draw_image_preview{
    background:rgb(9, 255, 0);
    width:80px;
    margin:auto;
}
#draw_image_preview:hover{
    background:var(--button-highlight-color);
}
#clear_image_preview{
    background:red;
    width:80px;
    margin:auto;
}
#clear_image_preview:hover{
    background:var(--button-highlight-color);
}

#render_algorithm_select{
    justify-self: center;
}
#canvas_appearance_settings{
    flex-wrap:wrap;
    width:fit-content;
    max-width: 400px;
    display: var(--extra-settings-display);
    flex-direction: row;
    border:var(--button-border);
    border-color:var(--button-highlight-color);
    border-radius: 20px;
    padding:10px;
    margin:0px;
    border-top-left-radius:0px;
    background-color:var(--button-background-color);
}
#sprite_loader_controls{
    display:flex;
    flex-direction: column;
    width:fit-content;
    height:fit-content;
    border-radius: 10px;
    align-items: center;
    grid-area:hardware_gif;
}

#upload_progress_bar_container{
    display:var(--progress-bar-display);
    width:100%;
    height:20px;
    background:yellow;
}
#upload_progress_bar{
    background:var(--progress-bar-color);
    width:var(--upload-progress);
    height:100%;
    color:yellow;
    align-content: center;
    white-space: pre;
    /* padding:10px 0px; */
}
#edit_controls_container{
    height:fit-content;
    display:flex;
    flex-direction: column;
    grid-area: edit_controls;
    padding-left:10px;
}
#file_controls{
    /* grid-area: file_controls; */
    margin-bottom:0px;
    margin-right:0px;
    flex-direction: column;
    justify-items: right;
    width:fit-content;
}
#canvas_container_container{
    position:relative;
    grid-area:canvas;
    width:fit-content;
    height:fit-content;
    filter:var(--canvas-filter);
    max-height: 260px;
    max-width: 260px;
    /* min-width:400px; */
    overflow: scroll;
    grid-area:canvas;
    border-top:var(--canvas-border-top);
    border-right:var(--canvas-border-right);
    border-left:var(--canvas-border-left);
    border-bottom:var(--canvas-border-bottom);
}

#canvas_container{
    display:block;
    pointer-events:none;
    margin:8px;
    width:calc(var(--canvas-scale)*var(--sprite-width));
    height:calc(var(--canvas-scale)*var(--sprite-height));
}

#canvas_border_image{
    image-rendering: pixelated;
    position:absolute;
    z-index:-1;
    width:calc(var(--canvas-scale)*var(--sprite-width) + 150px);
    height:calc(var(--canvas-scale)*var(--sprite-height) + 150px);
    left:-75px;
    top:-60px
}

#main_canvas{
    position:absolute;
    cursor:pointer;
    image-rendering:pixelated;
    width:calc(var(--canvas-scale)*var(--sprite-width));
    height:calc(var(--canvas-scale)*var(--sprite-height));
    /* grid-area:canvas; */
    pointer-events: auto;
    filter:drop-shadow(4px 4px 2px var(--drop-shadow-color));
}

#canvas_overlay_grid{
    visibility: var(--grid-visibility);
    pointer-events:none;
    position:absolute;
    width:calc(var(--canvas-scale)*var(--sprite-width));
    height:calc(var(--canvas-scale)*var(--sprite-height));
    z-index:1;
    display:grid;
    background:
      linear-gradient(#4f4f4f 1px, transparent 1px),
      linear-gradient(90deg, #4f4f4f 1px, transparent 1px);
    border-right:1px solid #4f4f4f;
    border-bottom:1px solid #4f4f4f;
    background-position: -0.5px -0.5px;
    background-size: var(--background-width) var(--background-height);
}

#pixel_cursor{
    visibility: var(--cursor-visibility);
    display:block;
    z-index:0;
    width:calc(var(--canvas-scale)*1px);
    height:calc(var(--canvas-scale)*1px);
    margin-left:calc(var(--canvas-scale)*var(--cursor-x));
    margin-top:calc(var(--canvas-scale)*var(--cursor-y));
    background-color: #2bff0057;
    position:absolute;
}
#selection_box{
    display:block;
    z-index:2;
    visibility: var(--selection-box-visibility);
    outline:1px dashed red;
    width:calc(var(--canvas-scale)*var(--selection-box-width));
    height:calc(var(--canvas-scale)*var(--selection-box-height));
    background-color:#ff00004c;
    position:absolute;
    margin-left:calc(var(--canvas-scale)*var(--selection-box-start-x));
    margin-top:calc(var(--canvas-scale)*var(--selection-box-start-y));
}

#resize_box{
    display:block;
    z-index:2;
    visibility: var(--resize-box-visibility);
    outline:1px dashed green;
    width:calc(var(--canvas-scale)*var(--resize-box-width));
    height:calc(var(--canvas-scale)*var(--resize-box-height));
    background-color:#04ff004c;
    position:absolute;
    margin-left:calc(var(--canvas-scale)*var(--resize-box-start-x));
    margin-top:calc(var(--canvas-scale)*var(--resize-box-start-y));
}

.color_settings{
    display:flex;
    width:fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    margin:auto;
    /* align-items: center; */
}


.title_image{
    -webkit-mask-size:contain;
    mask-size:contain;

    -webkit-mask-repeat:no-repeat;
    mask-repeat:no-repeat;
    background: var(--text-color);

    position:absolute;
    image-rendering:pixelated;
    width:60px;
    height:60px;
}

#boto_gif{
    left:210px;top:40px;
    -webkit-mask-image:url("images/sprites/boto_sad.gif");
    mask-image:url("images/sprites/boto_sad.gif");
}
#tamo_gif{
    left:-55px;
    top:-40px;
    -webkit-mask-image:url("images/sprites/tamo_idle.gif");
    mask-image:url("images/sprites/tamo_idle.gif");
}
#bug_gif{
    left:-70px;top:40px;
    -webkit-mask-image:url("images/sprites/bug_angry.gif");
    mask-image:url("images/sprites/bug_angry.gif");
}
#porcini_gif{
    left:195px;top:-40px;
    -webkit-mask-image:url("images/sprites/porcini_happy.gif");
    mask-image:url("images/sprites/porcini_happy.gif");
}
#title_gif{
    width:200px;
    height:120px;
    top:-20px;
    -webkit-mask-image:url("images/logo_animated_white.gif");
    mask-image:url("images/logo_animated_white.gif");
}



#title_container{
    width:200px;
    height:100px;
    margin:40px auto auto;
    position:relative;
    grid-area:title;
    image-rendering: pixelated;
    
}

#sprite_preview_container{
    display:none;
    flex-direction: column;
    grid-area:spritesheet;
    width:fit-content;
    height:fit-content;
}

#sprite_previews{
    border:var(--button-border);
    border-radius:20px;
    padding:10px;
}
.delete_sprite_button{
    padding:4px;
    border-radius:8px;
}
.delete_sprite_button:hover{
    /* outline:4px solid red; */
    background:red;
}
#reset_button{
    image-rendering:pixelated;
    color:var(--button-background-color);
    writing-mode:sideways-lr;
    padding-top:10px;
    background:#ff0000;
}
#reset_button:hover{
    color:var(--button-highlight-text-color);
    background:var(--button-highlight-color);
}

#sprite_name{
    display:flex;
    width:fit-content;
    height:fit-content;
    flex-direction: column;
    grid-area:sprite_name;
    /* align-self:baseline; */

    padding-bottom:10px;
    padding-left:20px;
    align-self:center;
}

#sprite_name_textarea{
    color:var(--button-highlight-text-color);
    background-color: var(--button-highlight-color);
    border:none;
    border-radius:2px;
    padding:2px;
    field-sizing:content;
    height:1em;
    resize:none;
    align-content:center;
    font-size: 20px;
}
#sprite_name_static{
    font-size: 20px;
    border-radius:2px;
    padding:2px;
    height:1em;
    cursor:pointer;
    width:min-content;
    white-space: pre;
}
#sprite_name_static:hover{
    background-color: var(--button-highlight-color);
    color:var(--button-highlight-text-color);
}

#tooltip_text{
    font-weight:bold;
    font-size:15px;
    width:fit-content;
    display:block;
    position:relative;
    align-self: center;
    padding-left:10px;
    white-space: pre;
    flex-wrap: nowrap;
    overflow: visible;
    max-width:60px;
    mix-blend-mode: difference;
    color:white;
}

.sprite_preview_holder,.sprite_blank_preview_holder{
    height:20px;
    width:min-content;
    border-radius:10px;
    display:flex;
    align-items: center;
    padding:4px;
    gap:10px;
    margin:2px;
    transition:0.1s;
    background-color: var(--button-background-color);
}
.sprite_preview_holder{
    cursor:pointer;
}
.sprite_preview_holder:hover{
    background:var(--button-highlight-color);
    color:var(--button-highlight-text-color);
    /* background-color: var(--button-background-color); */
}
.sprite_blank_preview_holder{
    cursor:default;
}
.new_sprite_button{
    display:flex;
    image-rendering: pixelated;
    mix-blend-mode: difference;
    cursor:pointer;
    border-radius:10px;
    padding:4px;
    border: 1px solid var(--background-color);
    align-items: center;

}
.sprite_blank_preview_holder:hover .new_sprite_button{
    background:var(--button-highlight-color);
    color:var(--button-highlight-text-color);
}


.sprite_preview,.blank_sprite_preview{
    width:20px;
    height:20px;
    image-rendering: pixelated;
    background:black;
    border-radius:5px;
    border:2px solid;
    border-color:var(--button-background-color);
}

#template_controls{
    padding-top:10px;
}
#resize_controls{
    display:flex;
    flex-direction: column;
    gap:5px;
}
#resize_controls div{
    flex-direction: row;
}
.ui_label{
    /* font-weight:bold; */
    width:fit-content;
    margin:auto;
    /* padding:4px; */
    /* color:var(--button-highlight-color); */
    /* padding-bottom:10px; */
}
.cursive_label{
    font-family:chopin;
    font-size:30px;
}

#upload_controls{
    width:fit-content;
    height:fit-content;
    display:flex;
    cursor:pointer;
    border-radius: 10px;
    transition:0.1s;
    flex-direction: column;
    gap:2px;
    grid-area: import_controls;
    /* align-items: center; */
}
#upload_controls img{
    margin:auto;
    image-rendering: pixelated;
    width:30px;
    mix-blend-mode:difference;
    align-self: center;
    padding-right:4px;
}

#download_controls_container{
    grid-area:export_controls;
    display:flex;
    flex-direction: column;
    gap:4px;
    width:fit-content;
    height:fit-content;
}
#download_controls{
    display:flex;
    flex-direction: row;

    border:var(--button-border);
    border-radius: 10px;
    padding:10px;
    background-color: var(--button-background-color);
}
#download_controls:hover{
    background-color: var(--button-highlight-color);
    color:var(--button-highlight-text-color);
}
#download_controls:hover .button{
    mix-blend-mode: difference;
}
#download_icon_holder{
    width:100%;
    display:flex;
    justify-content: center;
    border-radius:10px;
}
#upload_icon{
    image-rendering: pixelated;
    height:fit-content;
    width:100%;
    mix-blend-mode:difference;
}
#download_icon{
    image-rendering: pixelated;
    width:40px;
    /* margin:auto; */
    mix-blend-mode:difference;
    /* margin:auto auto; */
}
#settings_icon{
    image-rendering: pixelated;
    width:20px;
    mix-blend-mode:difference;
    padding-right:5px;
}
#image_preview{
    image-rendering: pixelated;
    display:none;
    filter:drop-shadow(4px 4px 2px var(--drop-shadow-color));
    position:relative;
}
#uploaded_image_preview{
    margin:auto;
    margin-bottom:10px;
    margin-top:10px;
    position:relative;
}

.tool_icon{
    image-rendering: pixelated;
    mix-blend-mode: difference;
}
.tool_button{
    background-color: var(--button-background-color);
    min-width: 20px;
    min-height: 20px;
}
.tool_button:hover{
    background-color: var(--button-highlight-color);
}
.grid_holder{
    display:grid;
    position:fixed;
}
.grid_holder:hover{
    background-color: var(--button-highlight-color);
}
.grid_div{
    border:1px dashed #535889ff;
    border-left:none;
    border-top:none;
}
#new_canvas_button{
    background: rgb(0, 255, 115);
}
#new_canvas_button img{
    mix-blend-mode: difference;
}
#new_canvas_button:hover{
    background: var(--button-highlight-color);
    /* mix-blendrgb(0, 105, 47)e; */
}
.button_holder{
    display:flex;
    width:fit-content;
    gap:inherit;
    /* margin:auto; */
}
.button{
    background-color:var(--button-background-color);
    width:fit-content;
    display:flex;
    position:relative;
    cursor:pointer;
    border-radius: 10px;
    border:var(--button-border);
    margin:2px;
    padding:4px;
    transition:0.1s;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    font-size:12px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    image-rendering: pixelated;
}
.button:hover{
    background-color:var(--button-highlight-color);
    color:var(--button-highlight-text-color);
    border: 1px solid var(--button-highlight-color);
}
.tool_button img{
    image-rendering: pixelated;
    width:20px;
    height:20px;
    mix-blend-mode:difference;
    position:relative;
    pointer-events: none;
}

.dimension_input{
    white-space: pre;
    background-color:transparent;
    width:fit-content;
    height:25px;
    display:block;
    cursor:pointer;
    border-radius: 10px;
    border:var(--button-border);
    color:var(--text-color);
    margin:2px;
    padding:4px;
    padding-top:0px;
    padding-bottom:0px;
    margin-top:0;
    margin-bottom:0;
    transition:0.25s;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.dimension_input:hover{
    background-color:var(--button-highlight-color);
    color:var(--button-highlight-text-color);
}
.transparent_img_drop_shadow{
    filter:drop-shadow(4px 4px 2px var(--drop-shadow-color));
}

@keyframes current_preview_canvas_highlight {
  0% {border: 2px solid black;}
  50% {border: 2px solid  var(--button-highlight-color);}
  100% {border: 2px solid  black;}
}

.debug_text{
    color:var(--button-highlight-color);
    font-style: italic;
    font-size: 10px;
    position:fixed;
    writing-mode: sideways-lr;
}
#version_number{
    bottom:300px;
    left:10px;
}
#app_title{
    bottom:140px;
    left:10px;
}

.preview_canvas{
    /* border:var(--button-border); */
    border:2px solid transparent;
    border-radius:10px;
    transition:0.5s;
    cursor:pointer;
    image-rendering:pixelated;
    animation:current_preview_canvas_highlight;
}
.dragging{
    opacity:0.1;
    border:2px dashed black;
    background:white;
    /* background-color:aqua; */
}
.active_canvas{
    border-radius:10px;
    border:2px;
    transition:0.1s;
    cursor:pointer;
    image-rendering:pixelated;

    filter:drop-shadow(4px 4px 2px var(--drop-shadow-color));

    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* animation:current_preview_canvas_highlight; */
}

.preview_canvas:hover{
    filter:brightness(0.4);
}

#serial_connection_icon{
    width:20px;
    height:20px;
}

#pixel_editing_tools{
    grid-area:pixel_tools;
    /* height:20px; */
    max-width: 250px;
    height:fit-content;
}

#big_undo_buttons{
    display:none;
    grid-area:undo_buttons;
    width:fit-content;
    height:fit-content;
    flex-direction: column;
    margin-top: 25px;
}
#big_undo_buttons .button{
    width:40px;
    height:40px;
    font-size:15px;
    font-family: chopin;
    border-radius:40px;
}

#undo_button{
    filter:var(--undo-button-filter);
}

#hardware_gif{
    max-width:130px;
    height:auto;
    image-rendering:optimizeSpeed;
    filter:drop-shadow(4px 4px 2px var(--drop-shadow-color));
    grid-area:hardware_gif;
}

@media all and (max-width: 650px) {
    html{
        height:100%;
    }
    #app_container{
        overflow-y: scroll;
        overflow-x: hidden;
        width:100%;
        height:100%;
        display:grid;
        justify-content: center;
        position:relative;
        gap:10px;
        grid-template-areas:"title title"
                            "canvas_and_tools canvas_and_tools"
                            "export_controls spritesheet"
                            "import_controls spritesheet"
                            "import_controls template"
                            "image_preview image_preview"
                            "hardware_gif hardware_gif"
                            "settings settings";
    }
    .big_undo_button{
        display:flex;
    }

    #uploaded_image_settings{
        flex-direction: row;
        gap:10px;
        max-width:85%;
    }
    #hardware_gif{
        width:80px;
    }
    #upload_icon{
        width:80px;
    }
    #canvas_appearance_settings{
        max-width:250px;
    }
    /* #big_undo_buttons{
        display:flex;
    } */
    #frame_controls{
        justify-self: center;
        justify-items: center;
        height:fit-content;
    }
    #edit_controls_container{
        justify-items: center;
        align-items: center;
        height:fit-content;
    }
    #title_container{
        margin-top:60px;
    }
    #main_canvas{
        touch-action: pinch-zoom;
    }
    #sprite_loader_controls{
        flex-direction: row-reverse;
    }
}

/* Sliders! */
/* made with: https://danielstern.ca/range.css/?ref=css-tricks#/ */
input[type=range] {
  width: 100%;
  margin: 4.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: rgba(102, 102, 84, 0);
    border:var(--button-border);
  border-radius: 25px;
  width: 100%;
  height: 9px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -5.5px;
  width: 18px;
  height: 18px;
  background: var(--button-highlight-color);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  background: rgba(102, 102, 84, 0);
    border:var(--button-border);
  border-radius: 25px;
  width: 100%;
  height: 9px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: var(--button-highlight-color);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 18.5px 0;
  color: transparent;
  width: 100%;
  height: 9px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
    border:var(--button-border);
  border-radius: 50px;
}
input[type=range]::-ms-fill-upper {
  background: rgba(102, 102, 84, 0);
    border:var(--button-border);
  border-radius: 50px;
}
input[type=range]::-ms-thumb {
  width: 18px;
  height: 18px;
  background: var(--button-highlight-color);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(102, 102, 84, 0);
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
